.item-input {
    padding: 10px 0 5px 10px;
    color: #444444 !important;
}

.input-label {
    color: #808080 !important;
    font-size: 12px !important;
}

.button {
    font-size: 14px;
}

.list >.item{
     border-width:0px;
    border-bottom-width:1px;
    margin:1px;
}

input[type="password"]{
    color:red;
    font-size: 30px;
}